#map {
    height: 500px;
}

.navbar {
    background-color: #5a7251 !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.navbar.bg-light {
    background-color: #5a7251 !important;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}

.navbar .navbar-brand img {
    margin-left: 100px;
}

#card-container .card {
    background-color: #1E2F18;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.about-card .card {
    background-color: #1E2F18;
}

body {
    background-color: #1E2F18 !important; 
    color: #F0F2F0;
    font-family: 'Hedvig Letters Serif', serif;
    font-size: 15px;
}

.mb-0.mt-5 {
    font-family: 'Hedvig Letters Serif', serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

:not(.mb-0.mt-5) {
    color: #F0F2F0;
}

.card {
    background-color: #1E2F18 !important;
}

.col-sm-8.text-justify {
    font-family: 'Hedvig Letters Serif', serif;
    font-weight: 400;
    font-size: 13px;
}

.about-card .card {
    font-family: 'Hedvig Letters Serif', serif;
    font-weight: 400;
    font-size: 15px;
}

#carouselExampleCaptions.carousel {
    max-width: 100%;
    height: 500px; 
    max-height: 500px; 
    overflow: hidden;
}

#carouselExampleCaptions.carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#carouselExampleCaptions.carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


